check process einhorn matching "einhorn"
    start program = "/usr/bin/supervisorctl start cheapcdn"
    stop  program = "/usr/bin/supervisorctl stop cheapcdn"
    if 5 restarts within 5 cycles then timeout
