check process einhorn with pidfile "/tmp/einhorn.pid"
    start program = "/usr/bin/supervisorctl start einhorn"
    stop  program = "/usr/bin/supervisorctl stop einhorn"
    if failed port 8888 protocol http request /ping then restart
    if 5 restarts within 5 cycles then timeout
