check process elasticsearch with pidfile /var/run/elasticsearch/elasticsearch.pid
    start program = "/bin/systemctl start elasticsearch"
    stop  program = "/bin/systemctl stop elasticsearch"
    if failed port 9200 protocol http request / then restart
    if 5 restarts within 5 cycles then timeout
